<div id="messageDiv" class="row mb-2" style="height: 50px;">
    @Html.Raw(TempData["headermsg"])
</div>
<div id="headerBanner" class="row mb-2 pl-3" style="height: 50px;">
    <h1>Welcome to the BankApp</h1>
</div>
<div class="row mb-2">
    <div class="col-md-6">
        <form asp-controller="Security" asp-action="Login" method="post">
            <input type="hidden" name="requestpath" id="requestpath" value="@ViewBag.RequestPath" />
            <div class="form-group">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Password">
            </div>

            <button type="submit" name="submit" value="Login" class="btn btn-primary">Login</button>
        </form>
        <hr size=2 class="mt-5">
        or<a href="@Url.Action("Register", "Security")" ><b> Register a New Account</b></a> 
 
    </div> 
</div>
<script language="javascript" type="text/javascript">
     
    setTimeout(function() {
        $('#alertMessage').fadeOut('fast');
    }, 2000);
</script>